<h2>Lista država</h2>

<button class="btn btn-primary mt-2 mb-4" routerLink="/drzavaEditNew" routerLinkActive="active">
  Dodaj
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Naziv</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let drzava of listaDrzava">
      <td>{{ drzava.ID }}</td>
      <td>{{ drzava.Naziv }}</td>
      <td (click)="openEditNew(drzava?.ID)">Edit</td>
      <td (click)="delete(drzava?.ID)">Delete</td>
    </tr>
  </tbody>
</table>
